  <?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="false" thread-count="5" >
  <test name="Test">
    <classes>
      <class name="com.test.automation.homepage.TC002_VerifyRegistration"/>
      <class name="com.test.automation.homepage.TC003_VerifyRegistration"/>
      <class name="com.test.automation.homepage.TC001_VerifyLoginwithInvalidCrediantials"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
